#root {
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  width: 100%;
}

.header-wrapper {
  width: 100%;
}
.header-ico {
  width: 210px;
}
.content-wrapper {
  width: calc(100% - 220px);
  margin-left: 210px;
  padding-left: 10px;
}
